@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.touch-hover-cyan {

    background-color: rgba(165, 243, 252, 0.2); /* Matches hover:bg-cyan-200/20 */
    color: #67e8f9; /* Matches hover:text-cyan-200 */
    box-shadow: 0 0 15px #67e8f9; /* Matches hover:shadow-[0_0_15px_theme('colors.cyan.200')] */
    transition: all 0.3s ease-in-out;
}

.touch-hover-pink {
  background-color: rgba(236, 72, 153, 0.2); /* Matches hover:bg-pink-500/20 */
  color: #ec4899; /* Matches hover:text-pink-500 */
  box-shadow: 0 0 15px #ec4899; /* Matches hover:shadow */
  transition: all 0.3s ease-in-out;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

@custom-variant light (&:where(.light, .light *));