@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.touch-hover-cyan {

    background-color: rgba(165, 243, 252, 0.2); /* Matches hover:bg-cyan-200/20 */
    animation: glowEffect 2.5s ease-in-out infinite;
}

@keyframes glowEffect {
  0% {
    box-shadow: 0 0 5px #02d8f4, 0 0 10px #00bcd4, 0 0 15px #00bcd4;
  }
  50% {
    box-shadow: 0 0 20px #02d8f4, 0 0 30px #00bcd4, 0 0 40px #00bcd4;
  }
  100% {
    box-shadow: 0 0 5px #02d8f4, 0 0 10px #00bcd4, 0 0 15px #00bcd4;
  }
}

.touch-hover-pink {
  background-color: rgba(236, 72, 153, 0.2); /* Matches hover:bg-pink-500/20 */
  color: #ec4899; /* Matches hover:text-pink-500 */
  box-shadow: 0 0 15px #ec4899; /* Matches hover:shadow */
  transition: all 0.3s ease-in-out;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.my-image {
  position: relative;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;

}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  } 50% {
    transform: translate(0, 10px);
  } 100% {
    transform: translate(0, -0px);
  }
}

@custom-variant light (&:where(.light, .light *));

@layer utilities {
  .hover-gradient-effect {
    @apply relative transition-all duration-400 
           bg-gradient-to-r from-[#a5d7e8]/40 to-white/0 
           bg-[length:0%_100%] bg-no-repeat 
           hover:bg-[length:100%_100%];
  }

  .touched {
    @apply bg-[length:100%_100%]
  }

  .light .hover-gradient-effect,
  .hover-gradient-effect.light {
    @apply from-cyan-200 to-pink-300;
}
}